<h1>Signup</h1>

<%= form_for :user, url: '/users' do |f| %>
  <ul style="list-style-type:none;">
    <li>First Name: <br>
    <%= f.text_field :first_name %></li>
    <li>Last Name: <br>
    <%= f.text_field :last_name %></li>
    <li>Email: <br>
    <%= f.text_field :email %></li>
    <li>Password: <br>
    <%= f.password_field :password %></li>
    <li>Password Confirmation: <br>
    <%= f.password_field :password_confirmation %></li>
    <li><%= f.submit "Submit" %></li>
  </ul>

<% end %>